div{
    height: 200px;
    width: 500px;
    /* border-width: 3px ;
    border-style: solid;
    border-color: blue; */
    /* border: 10px solid blue; */
    
    
    background-color: palevioletred;
    border: 10px solid blue;
    border-left-color:green ;
    border-left-style: dashed;
    border-radius: 15%;
    padding-top: 10px;
    margin-top: 50px;
}
h1{
    /* height: 30px;
    width: 200px; */
    border: 10px dashed green;
    /* border-left-color: black;
    border-radius: 10%; */
    
}
button{
    /* padding-left: 20px ; */
    border-radius: 10px;
    /* padding-top: 5px; */
    border: 2px solid green;
    padding: 10px 10px;


}