*{
    text-align: center;}
#mainTopic{
    color: blue;
}
h1,h3,h5{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.kaif{
    color: white;
    background-color: cornflowerblue;
}
div>button{
    color: azure;
    background-color:purple ;
}
button:hover{
    background-color: yellow;
    color: blue;
}
