.card{
    height: 400px;
    width: 200px;
    border: 2px solid black;
    margin: 5px;
    display: inline-block;
    box-shadow: black;
    border-radius: 5px;
    box-shadow: 0px 4px 10px black;

}
.decs{
    padding: 0 5px 0 5px ;
}
img{
    width: 100%;
    border-radius: 5px 5px 0 0;
}
.card :hover{
    box-shadow: 0px 8px 20px goldenrod;
    transition: 2s;
}